openapi: 3.2.0
info:
  title: Universiti Teknologi Petronas EPrints REST API
  version: '2026-09-01'
  x-operator: institution
  x-refined-note:
  - x-operator-evidence differs across the merged source definitions and was not carried
  - x-provenance differs across the merged source definitions and was not carried
  - x-software differs across the merged source definitions and was not carried
  description: 'Operations tagged EPrints REST across 2 of this provider''s published API definitions: universiti-teknologi-petronas-scholars-openapi.yml, universiti-teknologi-petronas-utpedia-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://scholars.utp.edu.my
  description: UTP Scholarly Publication (TLS).
- url: https://utpedia.utp.edu.my
  description: UTPedia institutional repository (TLS). The plain-http form advertised inside the OAI-PMH baseURL element did not complete a connection from our probe host on 2026-09-01.
tags:
- name: EPrints REST
paths:
  /rest/:
    get:
      tags:
      - EPrints REST
      operationId: listDatasets
      summary: List REST datasets (eprint, user, subject)
      responses:
        '200':
          description: XHTML dataset index.
          content:
            text/html:
              schema:
                type: string
    servers:
    - url: https://scholars.utp.edu.my
      description: UTP Scholarly Publication (TLS).
  /rest/eprint/{eprintid}.xml:
    get:
      tags:
      - EPrints REST
      operationId: getEprintXml
      summary: Get one publication record as EPrints XML
      parameters:
      - name: eprintid
        in: path
        required: true
        schema:
          type: integer
        examples:
          observed:
            value: 205
      responses:
        '200':
          description: EPrints XML document.
          content:
            text/xml:
              schema:
                type: string
                contentMediaType: text/xml
    servers:
    - url: https://scholars.utp.edu.my
      description: UTP Scholarly Publication (TLS).
  /rest/subject/:
    get:
      tags:
      - EPrints REST
      operationId: listSubjects
      summary: List subject terms
      responses:
        '200':
          description: XHTML list of subject identifiers.
          content:
            text/html:
              schema:
                type: string
    servers:
    - url: https://scholars.utp.edu.my
      description: UTP Scholarly Publication (TLS).
  /rest/eprint/:
    get:
      tags:
      - EPrints REST
      operationId: listEprints
      summary: List eprint identifiers
      responses:
        '200':
          description: XHTML list of eprint ids.
          content:
            text/html:
              schema:
                type: string
    servers:
    - url: https://utpedia.utp.edu.my
      description: UTPedia institutional repository (TLS). The plain-http form advertised inside the OAI-PMH baseURL element did not complete a connection from our probe host on 2026-09-01.
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: EPrints SWORD deposit credentials. Read paths require no authentication.
x-refined-from:
- universiti-teknologi-petronas-scholars-openapi.yml
- universiti-teknologi-petronas-utpedia-openapi.yml
